<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,1080}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{2,2},{1920,1080}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>agreementWord.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,44}</string>
                <key>spriteSourceSize</key>
                <string>{169,44}</string>
                <key>textureRect</key>
                <string>{{1992,586},{169,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blackbg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,39}</string>
                <key>spriteSourceSize</key>
                <string>{29,39}</string>
                <key>textureRect</key>
                <string>{{2015,2},{29,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>closebtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1924,250},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,27}</string>
                <key>spriteSourceSize</key>
                <string>{25,27}</string>
                <key>textureRect</key>
                <string>{{2015,73},{25,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>imgLoadingProgress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,34}</string>
                <key>spriteSourceSize</key>
                <string>{494,34}</string>
                <key>textureRect</key>
                <string>{{1924,634},{494,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>imgLoadingProgress2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,24}</string>
                <key>spriteSourceSize</key>
                <string>{484,24}</string>
                <key>textureRect</key>
                <string>{{2015,100},{484,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{2015,43},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadingLogo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,983}</string>
                <key>spriteSourceSize</key>
                <string>{640,983}</string>
                <key>textureRect</key>
                <string>{{2,1130},{640,983}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loginbtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,89}</string>
                <key>spriteSourceSize</key>
                <string>{246,89}</string>
                <key>textureRect</key>
                <string>{{1924,2},{246,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,66}</string>
                <key>spriteSourceSize</key>
                <string>{305,66}</string>
                <key>textureRect</key>
                <string>{{1924,327},{305,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{523,277}</string>
                <key>spriteSourceSize</key>
                <string>{523,277}</string>
                <key>textureRect</key>
                <string>{{987,1130},{523,277}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Images1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c1b2ff1974481422dc9fb5e0662c0ef:ee223cdb5034ee1b0410f57134cb4bcf:c0212392eb62ead56c048034f9c8b55d$</string>
            <key>textureFileName</key>
            <string>Images1.png</string>
        </dict>
    </dict>
</plist>
