<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_popClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{546,166},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_popHelp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{601,250},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_popReturn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,24}</string>
                <key>spriteSourceSize</key>
                <string>{29,24}</string>
                <key>textureRect</key>
                <string>{{575,335},{29,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_popService.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{546,335},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_popSetting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{599,366},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_popgreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,54}</string>
                <key>spriteSourceSize</key>
                <string>{150,54}</string>
                <key>textureRect</key>
                <string>{{329,407},{150,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_popred.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,54}</string>
                <key>spriteSourceSize</key>
                <string>{150,54}</string>
                <key>textureRect</key>
                <string>{{481,407},{150,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>callweBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,230}</string>
                <key>spriteSourceSize</key>
                <string>{363,230}</string>
                <key>textureRect</key>
                <string>{{633,2},{363,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fenj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,456}</string>
                <key>spriteSourceSize</key>
                <string>{2,456}</string>
                <key>textureRect</key>
                <string>{{998,2},{2,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menuBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,250}</string>
                <key>spriteSourceSize</key>
                <string>{130,250}</string>
                <key>textureRect</key>
                <string>{{630,234},{130,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popTitlebg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,88}</string>
                <key>spriteSourceSize</key>
                <string>{317,88}</string>
                <key>textureRect</key>
                <string>{{633,366},{317,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{542,403}</string>
                <key>spriteSourceSize</key>
                <string>{542,403}</string>
                <key>textureRect</key>
                <string>{{2,2},{542,403}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shngs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,25}</string>
                <key>spriteSourceSize</key>
                <string>{325,25}</string>
                <key>textureRect</key>
                <string>{{2,407},{325,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sliderBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,25}</string>
                <key>spriteSourceSize</key>
                <string>{325,25}</string>
                <key>textureRect</key>
                <string>{{2,434},{325,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sliderPoint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,59}</string>
                <key>spriteSourceSize</key>
                <string>{40,59}</string>
                <key>textureRect</key>
                <string>{{952,363},{40,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word_callwe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,43}</string>
                <key>spriteSourceSize</key>
                <string>{162,43}</string>
                <key>textureRect</key>
                <string>{{546,2},{162,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>word_qhzh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,26}</string>
                <key>spriteSourceSize</key>
                <string>{104,26}</string>
                <key>textureRect</key>
                <string>{{591,2},{104,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>word_quxiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,26}</string>
                <key>spriteSourceSize</key>
                <string>{51,26}</string>
                <key>textureRect</key>
                <string>{{546,366},{51,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word_rule.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,42}</string>
                <key>spriteSourceSize</key>
                <string>{82,42}</string>
                <key>textureRect</key>
                <string>{{882,319},{82,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,42}</string>
                <key>spriteSourceSize</key>
                <string>{83,42}</string>
                <key>textureRect</key>
                <string>{{546,250},{83,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>word_sure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,26}</string>
                <key>spriteSourceSize</key>
                <string>{52,26}</string>
                <key>textureRect</key>
                <string>{{591,108},{52,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>word_tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,42}</string>
                <key>spriteSourceSize</key>
                <string>{83,42}</string>
                <key>textureRect</key>
                <string>{{952,234},{83,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Images8.png</string>
            <key>size</key>
            <string>{1002,463}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4db897e79c73799702a097b3668877da:565d5a8e47f593da3c710d3be9a0028b:4e3199978ca30cb77e50579c9f617ea2$</string>
            <key>textureFileName</key>
            <string>Images8.png</string>
        </dict>
    </dict>
</plist>
