<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Image_Sign_Static3.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,693},{125,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{125,33}}</string>
                <key>sourceSize</key>
                <string>{125,33}</string>
            </dict>
            <key>Image_Sign_Check.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,231},{89,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{89,90}}</string>
                <key>sourceSize</key>
                <string>{89,90}</string>
            </dict>
            <key>Image_Sign_Gold0.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,359},{85,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{85,98}}</string>
                <key>sourceSize</key>
                <string>{85,98}</string>
            </dict>
            <key>Image_Sign_Gold1.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,591},{85,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{85,107}}</string>
                <key>sourceSize</key>
                <string>{85,107}</string>
            </dict>
            <key>Image_Sign_ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,717},{150,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{150,54}}</string>
                <key>sourceSize</key>
                <string>{150,54}</string>
            </dict>
            <key>Image_Sign_ButtonDisable.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,717},{150,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{150,54}}</string>
                <key>sourceSize</key>
                <string>{150,54}</string>
            </dict>
            <key>Image_Sign_Gold3.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,483},{105,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,107}}</string>
                <key>sourceSize</key>
                <string>{105,107}</string>
            </dict>
            <key>Image_Sign_Gold2.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,609},{116,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{116,107}}</string>
                <key>sourceSize</key>
                <string>{116,107}</string>
            </dict>
            <key>Image_Sign_Gold4.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,483},{114,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{114,125}}</string>
                <key>sourceSize</key>
                <string>{114,125}</string>
            </dict>
            <key>Image_Sign_Gold5.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,359},{124,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{124,123}}</string>
                <key>sourceSize</key>
                <string>{124,123}</string>
            </dict>
            <key>Image_Sign_Gold6.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,231},{146,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{146,127}}</string>
                <key>sourceSize</key>
                <string>{146,127}</string>
            </dict>
            <key>Image_Sign_Static2.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,640},{230,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{230,52}}</string>
                <key>sourceSize</key>
                <string>{230,52}</string>
            </dict>
            <key>Image_Sign_Room1.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,0},{225,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{2,3},{225,230}}</string>
                <key>sourceSize</key>
                <string>{227,233}</string>
            </dict>
            <key>Image_Sign_Room2.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,462},{225,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{2,3},{225,230}}</string>
                <key>sourceSize</key>
                <string>{227,233}</string>
            </dict>
            <key>Image_Sign_Room3.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,231},{225,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{2,3},{225,230}}</string>
                <key>sourceSize</key>
                <string>{227,233}</string>
            </dict>
            <key>Image_Sign_Room0.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,0},{225,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{2,3},{225,230}}</string>
                <key>sourceSize</key>
                <string>{227,233}</string>
            </dict>
            <key>Image_Sign_Static0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,727},{469,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{469,47}}</string>
                <key>sourceSize</key>
                <string>{469,47}</string>
            </dict>
            <key>Image_Sign_Static1.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,337},{247,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{247,302}}</string>
                <key>sourceSize</key>
                <string>{247,302}</string>
            </dict>
            <key>Image_Sign_ModeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,337},{290,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{41,12},{290,389}}</string>
                <key>sourceSize</key>
                <string>{366,408}</string>
            </dict>
            <key>Image_Sign_Static4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{534,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{534,336}}</string>
                <key>sourceSize</key>
                <string>{534,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <string>2</string>
            <key>realTextureFileName</key>
            <string>Images13.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>BindImage2.4</string>
            <key>textureFileName</key>
            <string>Images13.png</string>
        </dict>
    </dict>
</plist>
