<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{2,2},{410,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{2,564},{410,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{2,1126},{410,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{414,2},{410,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{976,2},{410,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{1538,2},{410,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{414,414},{410,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{976,414},{410,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{1538,564},{410,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{414,1126},{410,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{826,826},{410,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{1388,1126},{410,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{826,1238},{410,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Images14.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03064ff48b82ed2afae203d509be729f:b6c99661d51b3c5250576e6cd22a4ec9:b1afcdd41857d5186d3028bcd610ed40$</string>
            <key>textureFileName</key>
            <string>Images14.png</string>
        </dict>
    </dict>
</plist>
