<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ren.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,55},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,29},{18,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,25}}</string>
                <key>sourceSize</key>
                <string>{18,25}</string>
            </dict>
            <key>pingjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,1006},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>famale.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,0},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>checkbox_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,1091},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{6,6},{26,26}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>male.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,1062},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>dimond.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,1062},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>joinroom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,981},{21,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{21,34}</string>
            </dict>
            <key>add.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,993},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>joinroom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,958},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>joinroom_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,923},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>joinroom_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,887},{24,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,35}}</string>
                <key>sourceSize</key>
                <string>{24,35}</string>
            </dict>
            <key>joinroom_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,852},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>joinroom_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,816},{25,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,35}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>joinroom_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,780},{25,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,35}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>joinroom_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,744},{25,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,35}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>joinroom_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,708},{25,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,35}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>joinroom_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,672},{26,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,35}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>button_closex.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,640},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>invitationword.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,1006},{43,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,23}}</string>
                <key>sourceSize</key>
                <string>{43,23}</string>
            </dict>
            <key>combobox_it.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,1058},{37,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,31}}</string>
                <key>sourceSize</key>
                <string>{37,31}</string>
            </dict>
            <key>button_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,924},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>checkbox_circleK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,1058},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>checkbox_square.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,1021},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,981},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>hengbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,954},{57,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,26}}</string>
                <key>sourceSize</key>
                <string>{57,26}</string>
            </dict>
            <key>word_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,924},{55,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,29}}</string>
                <key>sourceSize</key>
                <string>{55,29}</string>
            </dict>
            <key>word_sc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,894},{56,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,29}}</string>
                <key>sourceSize</key>
                <string>{56,29}</string>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,861},{63,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,32}}</string>
                <key>sourceSize</key>
                <string>{63,32}</string>
            </dict>
            <key>joinroom_numbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,808},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>combobox_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,761},{61,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,46}}</string>
                <key>sourceSize</key>
                <string>{61,46}</string>
            </dict>
            <key>daili_image_laba.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,708},{59,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>nvitationbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,640},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>word_ff.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1967},{113,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{113,34}}</string>
                <key>sourceSize</key>
                <string>{113,34}</string>
            </dict>
            <key>word_js.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1965},{114,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{114,34}}</string>
                <key>sourceSize</key>
                <string>{114,34}</string>
            </dict>
            <key>word_df.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1965},{115,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{115,34}}</string>
                <key>sourceSize</key>
                <string>{115,34}</string>
            </dict>
            <key>roomlistword.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1954},{119,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{119,30}}</string>
                <key>sourceSize</key>
                <string>{119,30}</string>
            </dict>
            <key>choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,1949},{84,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,69}}</string>
                <key>sourceSize</key>
                <string>{84,69}</string>
            </dict>
            <key>joinroom_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,1787},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>serch.png</key>
            <dict>
                <key>frame</key>
                <string>{{1767,176},{88,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{88,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>word_btnjrfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,1949},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>word_fbgz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,1946},{128,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{128,34}}</string>
                <key>sourceSize</key>
                <string>{128,34}</string>
            </dict>
            <key>word_zdqz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,1945},{129,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{129,34}}</string>
                <key>sourceSize</key>
                <string>{129,34}</string>
            </dict>
            <key>word_gjsz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,1944},{129,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{129,34}}</string>
                <key>sourceSize</key>
                <string>{129,34}</string>
            </dict>
            <key>word_btncjfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,1909},{129,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{129,35}}</string>
                <key>sourceSize</key>
                <string>{129,35}</string>
            </dict>
            <key>word_tspx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,1909},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>word_szfs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,1239},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>word_gerenxinxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,1909},{132,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{132,36}}</string>
                <key>sourceSize</key>
                <string>{132,36}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,1909},{83,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,86}}</string>
                <key>sourceSize</key>
                <string>{83,86}</string>
            </dict>
            <key>record.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,1896},{83,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,87}}</string>
                <key>sourceSize</key>
                <string>{83,87}</string>
            </dict>
            <key>info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,541},{83,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,87}}</string>
                <key>sourceSize</key>
                <string>{83,87}</string>
            </dict>
            <key>nvitationmark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1767,88},{83,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,87}}</string>
                <key>sourceSize</key>
                <string>{83,87}</string>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1767,0},{83,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,87}}</string>
                <key>sourceSize</key>
                <string>{83,87}</string>
            </dict>
            <key>creategamehelpBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1899},{127,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,65}}</string>
                <key>sourceSize</key>
                <string>{127,65}</string>
            </dict>
            <key>daili_button_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1899},{150,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{150,54}}</string>
                <key>sourceSize</key>
                <string>{150,54}</string>
            </dict>
            <key>word_jrfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,1201},{161,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{161,43}}</string>
                <key>sourceSize</key>
                <string>{161,43}</string>
            </dict>
            <key>title_joinroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,962},{167,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{167,43}}</string>
                <key>sourceSize</key>
                <string>{167,43}</string>
            </dict>
            <key>gameLogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,962},{161,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{49,6},{161,65}}</string>
                <key>sourceSize</key>
                <string>{257,77}</string>
            </dict>
            <key>cjfj_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1899},{130,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{130,109}}</string>
                <key>sourceSize</key>
                <string>{130,109}</string>
            </dict>
            <key>cjfj_bg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1899},{130,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{130,109}}</string>
                <key>sourceSize</key>
                <string>{130,109}</string>
            </dict>
            <key>button_createfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1899},{205,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{205,70}}</string>
                <key>sourceSize</key>
                <string>{205,70}</string>
            </dict>
            <key>button_joinroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,1896},{205,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{205,70}}</string>
                <key>sourceSize</key>
                <string>{205,70}</string>
            </dict>
            <key>button_gametype1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1595,1868},{196,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{196,80}}</string>
                <key>sourceSize</key>
                <string>{196,80}</string>
            </dict>
            <key>button_gametype0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1595,1787},{196,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{196,80}}</string>
                <key>sourceSize</key>
                <string>{196,80}</string>
            </dict>
            <key>touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,1097},{141,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{141,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>daili_button_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,1058},{167,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{6,9},{167,142}}</string>
                <key>sourceSize</key>
                <string>{173,151}</string>
            </dict>
            <key>daili_word_jrwm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,924},{303,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{303,37}}</string>
                <key>sourceSize</key>
                <string>{303,37}</string>
            </dict>
            <key>daili_word_wcchat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,1876},{378,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{378,32}}</string>
                <key>sourceSize</key>
                <string>{378,32}</string>
            </dict>
            <key>fenj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,640},{2,456}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{2,456}}</string>
                <key>sourceSize</key>
                <string>{2,456}</string>
            </dict>
            <key>daili_image_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,1787},{457,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{457,88}}</string>
                <key>sourceSize</key>
                <string>{457,88}</string>
            </dict>
            <key>joinroom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1058},{407,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{407,203}}</string>
                <key>sourceSize</key>
                <string>{407,203}</string>
            </dict>
            <key>noticebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1030},{651,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{651,27}}</string>
                <key>sourceSize</key>
                <string>{651,27}</string>
            </dict>
            <key>createroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,640},{297,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{34,12},{297,389}}</string>
                <key>sourceSize</key>
                <string>{366,408}</string>
            </dict>
            <key>joinroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,250},{302,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{29,12},{302,389}}</string>
                <key>sourceSize</key>
                <string>{366,408}</string>
            </dict>
            <key>roomlistbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,541},{332,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{332,382}}</string>
                <key>sourceSize</key>
                <string>{332,382}</string>
            </dict>
            <key>daili_image_bigbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,250},{429,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{429,290}}</string>
                <key>sourceSize</key>
                <string>{429,290}</string>
            </dict>
            <key>hengxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1896},{824,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{824,2}}</string>
                <key>sourceSize</key>
                <string>{824,2}</string>
            </dict>
            <key>userinfokuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,0},{629,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{629,249}}</string>
                <key>sourceSize</key>
                <string>{629,249}</string>
            </dict>
            <key>uptitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1789},{1136,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,106}}</string>
                <key>sourceSize</key>
                <string>{1136,106}</string>
            </dict>
            <key>jinr-.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1275},{899,511}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{899,511}}</string>
                <key>sourceSize</key>
                <string>{899,511}</string>
            </dict>
            <key>joinroom_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1275},{901,513}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{901,513}}</string>
                <key>sourceSize</key>
                <string>{901,513}</string>
            </dict>
            <key>cjfj_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,641},{1126,633}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{1126,633}}</string>
                <key>sourceSize</key>
                <string>{1126,633}</string>
            </dict>
            <key>cjfj_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <string>2</string>
            <key>realTextureFileName</key>
            <string>11.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>BindImage2.4</string>
            <key>textureFileName</key>
            <string>11.png</string>
        </dict>
    </dict>
</plist>
