<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>rechange_diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{1939,710},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>rechange_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{1947,609},{32,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>
			<key>recharge_button_select_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1774,712},{129,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,79}</string>
			</dict>
			<key>recharge_button_select_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1774,841},{129,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,76}</string>
			</dict>
			<key>recharge_button_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1979,390},{150,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,54}</string>
			</dict>
			<key>recharge_image_background_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1774,504},{208,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,96}</string>
			</dict>
			<key>recharge_image_background_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{976,548}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{976,548}</string>
			</dict>
			<key>recharge_image_background_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1688,245},{818,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{818,86}</string>
			</dict>
			<key>recharge_image_background_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1774,970},{64,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,56}</string>
			</dict>
			<key>recharge_image_background_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,0},{712,403}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{712,403}</string>
			</dict>
			<key>recharge_image_background_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1688,0},{245,303}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{245,303}</string>
			</dict>
			<key>recharge_image_diamond_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1965,817},{109,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,78}</string>
			</dict>
			<key>recharge_image_diamond_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,403},{126,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,107}</string>
			</dict>
			<key>recharge_image_diamond_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1850,902},{128,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,111}</string>
			</dict>
			<key>recharge_image_diamond_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1853,749},{153,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,112}</string>
			</dict>
			<key>recharge_image_diamond_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1774,245},{187,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,118}</string>
			</dict>
			<key>recharge_image_diamond_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1774,363},{151,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,141}</string>
			</dict>
			<key>recharge_image_gold_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,510},{104,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,115}</string>
			</dict>
			<key>recharge_image_gold_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1102,403},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>recharge_image_gold_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1915,1030},{132,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,130}</string>
			</dict>
			<key>recharge_image_gold_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1774,1030},{141,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,137}</string>
			</dict>
			<key>recharge_image_sellmark.png</key>
			<dict>
				<key>frame</key>
				<string>{{1915,1160},{129,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,129}</string>
			</dict>
			<key>recharge_Image_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1991,202},{188,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,44}</string>
			</dict>
			<key>recharge_Image_title_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1925,489},{112,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,27}</string>
			</dict>
			<key>recharge_Image_title_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1952,497},{112,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,27}</string>
			</dict>
			<key>recharge_Image_title_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,504},{112,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,27}</string>
			</dict>
			<key>recharge_Image_title_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1961,245},{126,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,27}</string>
			</dict>
			<key>recharge_Image_title_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1925,363},{126,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,27}</string>
			</dict>
			<key>recharge_Image_title_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1952,371},{126,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,27}</string>
			</dict>
			<key>recharge_word_bangding.png</key>
			<dict>
				<key>frame</key>
				<string>{{1897,504},{52,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,26}</string>
			</dict>
			<key>recharge_word_bangdingyaoqingma.png</key>
			<dict>
				<key>frame</key>
				<string>{{1991,0},{202,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{202,44}</string>
			</dict>
			<key>recharge_word_chongzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1941,643},{67,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,36}</string>
			</dict>
			<key>recharge_word_fanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1897,556},{50,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,24}</string>
			</dict>
			<key>recharge_word_goumai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1979,540},{163,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{163,43}</string>
			</dict>
			<key>recharge_word_jilu.png</key>
			<dict>
				<key>frame</key>
				<string>{{2012,749},{68,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,34}</string>
			</dict>
			<key>recharge_word_jinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1977,703},{67,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,35}</string>
			</dict>
			<key>recharge_word_num_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1921,601},{26,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,37}</string>
			</dict>
			<key>recharge_word_num_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1897,606},{18,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,37}</string>
			</dict>
			<key>recharge_word_num_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,694},{25,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,37}</string>
			</dict>
			<key>recharge_word_num_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1907,712},{25,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,37}</string>
			</dict>
			<key>recharge_word_num_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,616},{26,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,37}</string>
			</dict>
			<key>recharge_word_num_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1915,638},{26,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,37}</string>
			</dict>
			<key>recharge_word_num_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1913,675},{26,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,37}</string>
			</dict>
			<key>recharge_word_qianwangchongzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2022,540},{105,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,26}</string>
			</dict>
			<key>recharge_word_xianzaibangding.png</key>
			<dict>
				<key>frame</key>
				<string>{{2022,645},{104,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,26}</string>
			</dict>
			<key>recharge_word_yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,653},{43,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,41}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Images11.png</string>
			<key>realTextureFileName</key>
			<string>Images11.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>