<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{2,2},{410,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{2,564},{410,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{2,1126},{410,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{414,2},{410,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{976,2},{410,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{1538,2},{410,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{414,414},{410,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{976,414},{410,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{1538,564},{410,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{414,1126},{410,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{826,826},{410,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{1388,1126},{410,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_2_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{826,1238},{410,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Images10.png</string>
            <key>size</key>
            <string>{1950,1688}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e3e244e7843e9bca1d7b309ad830230:686a52a151acf7121095af053eb68cc6:8e88f5a6a9daeccb38e330f0e749a2c7$</string>
            <key>textureFileName</key>
            <string>Images10.png</string>
        </dict>
    </dict>
</plist>
