<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{2,2},{410,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_0_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{2,564},{410,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_0_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{2,1126},{410,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_0_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{414,2},{410,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_0_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{976,2},{410,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{1538,2},{410,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_0_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{414,414},{410,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_0_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{976,414},{410,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_0_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{1538,564},{410,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_0_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{414,1126},{410,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_0_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{826,826},{410,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_0_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{1388,1126},{410,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_0_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,560}</string>
                <key>spriteSourceSize</key>
                <string>{410,560}</string>
                <key>textureRect</key>
                <string>{{826,1238},{410,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Images7.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b51db6c628e60884c0d10e319f1fcc7:5d5de3868682c08e0046d256f4ecbcf7:2c15d1712350feec89a2d32084311a3f$</string>
            <key>textureFileName</key>
            <string>Images7.png</string>
        </dict>
    </dict>
</plist>
