<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,1122},{410,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{410,560}}</string>
                <key>sourceSize</key>
                <string>{410,560}</string>
            </dict>
            <key>2_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1122},{410,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{410,560}}</string>
                <key>sourceSize</key>
                <string>{410,560}</string>
            </dict>
            <key>2_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1122},{410,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{410,560}}</string>
                <key>sourceSize</key>
                <string>{410,560}</string>
            </dict>
            <key>2_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1122},{410,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{410,560}}</string>
                <key>sourceSize</key>
                <string>{410,560}</string>
            </dict>
            <key>2_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,561},{410,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{410,560}}</string>
                <key>sourceSize</key>
                <string>{410,560}</string>
            </dict>
            <key>2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,561},{410,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{410,560}}</string>
                <key>sourceSize</key>
                <string>{410,560}</string>
            </dict>
            <key>2_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,561},{410,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{410,560}}</string>
                <key>sourceSize</key>
                <string>{410,560}</string>
            </dict>
            <key>2_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,561},{410,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{410,560}}</string>
                <key>sourceSize</key>
                <string>{410,560}</string>
            </dict>
            <key>2_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,561},{410,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{410,560}}</string>
                <key>sourceSize</key>
                <string>{410,560}</string>
            </dict>
            <key>2_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,0},{410,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{410,560}}</string>
                <key>sourceSize</key>
                <string>{410,560}</string>
            </dict>
            <key>2_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,0},{410,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{410,560}}</string>
                <key>sourceSize</key>
                <string>{410,560}</string>
            </dict>
            <key>2_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,0},{410,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{410,560}}</string>
                <key>sourceSize</key>
                <string>{410,560}</string>
            </dict>
            <key>2_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,0},{410,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{410,560}}</string>
                <key>sourceSize</key>
                <string>{410,560}</string>
            </dict>
            <key>3_fengmian.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{410,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{410,560}}</string>
                <key>sourceSize</key>
                <string>{410,560}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <string>2</string>
            <key>realTextureFileName</key>
            <string>Images15.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>BindImage2.4</string>
            <key>textureFileName</key>
            <string>Images15.png</string>
        </dict>
    </dict>
</plist>
