<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>agreementWord.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,797},{169,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,44}</string>
			</dict>
			<key>BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1920,1080}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1920,1080}</string>
			</dict>
			<key>blackbg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2010,494},{29,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,39}</string>
			</dict>
			<key>closebtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,978},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>customLogin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,0},{246,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{246,89}</string>
			</dict>
			<key>gou.png</key>
			<dict>
				<key>frame</key>
				<string>{{2010,561},{25,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,27}</string>
			</dict>
			<key>imgLoadingProgress.png</key>
			<dict>
				<key>frame</key>
				<string>{{2009,0},{494,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{494,34}</string>
			</dict>
			<key>imgLoadingProgress2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1986,494},{484,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{484,24}</string>
			</dict>
			<key>kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{2010,533},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>loadingLogo.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1080},{640,983}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,983}</string>
			</dict>
			<key>loginbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,246},{246,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{246,89}</string>
			</dict>
			<key>title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,492},{305,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{305,66}</string>
			</dict>
			<key>xiey.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1720},{523,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{523,277}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Images1.png</string>
			<key>realTextureFileName</key>
			<string>Images1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>