<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon64_appwx_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,269},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_res_download_moments.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{68,271},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,32}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{506,2},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,26}</string>
                <key>spriteSize</key>
                <string>{44,28}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{476,2},{44,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,20}</string>
                <key>spriteSize</key>
                <string>{54,40}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{469,226},{54,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,13}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{413,178},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,6}</string>
                <key>spriteSize</key>
                <string>{54,68}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{84,215},{54,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{52,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{331,178},{52,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{52,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{248,188},{52,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{68,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{331,108},{68,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{87,51},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{2,105},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{166,133},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{249,106},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{84,133},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{78,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{169,51},{78,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{68,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{413,108},{68,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{2,187},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{246,47}</string>
                <key>spriteSourceSize</key>
                <string>{256,47}</string>
                <key>textureRect</key>
                <string>{{2,2},{246,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>us_img01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{330,232},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>us_img02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,52}</string>
                <key>spriteSourceSize</key>
                <string>{83,52}</string>
                <key>textureRect</key>
                <string>{{2,51},{83,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>us_img03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,102}</string>
                <key>spriteSourceSize</key>
                <string>{113,102}</string>
                <key>textureRect</key>
                <string>{{250,2},{113,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>us_img04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,49}</string>
                <key>spriteSourceSize</key>
                <string>{60,49}</string>
                <key>textureRect</key>
                <string>{{2,335},{60,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>us_img05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,41}</string>
                <key>spriteSourceSize</key>
                <string>{46,41}</string>
                <key>textureRect</key>
                <string>{{469,178},{46,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>us_img06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{166,213},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>us_img07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,104}</string>
                <key>spriteSourceSize</key>
                <string>{109,104}</string>
                <key>textureRect</key>
                <string>{{365,2},{109,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Images2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0cbb76c797a75311d47291932949eaf:99084154f3d88f904d0b3ba51c28d949:264b99014b5008b9ec19beef7c97bf2e$</string>
            <key>textureFileName</key>
            <string>Images2.png</string>
        </dict>
    </dict>
</plist>
