<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buttonDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{353,354},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image_roommastermark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,64}</string>
                <key>spriteSourceSize</key>
                <string>{65,64}</string>
                <key>textureRect</key>
                <string>{{286,347},{65,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image_tuhaomark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,73}</string>
                <key>spriteSourceSize</key>
                <string>{48,73}</string>
                <key>textureRect</key>
                <string>{{423,172},{48,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image_winnermark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,73}</string>
                <key>spriteSourceSize</key>
                <string>{48,73}</string>
                <key>textureRect</key>
                <string>{{423,222},{48,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image_word_fanhuidating.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,26}</string>
                <key>spriteSourceSize</key>
                <string>{103,26}</string>
                <key>textureRect</key>
                <string>{{392,249},{103,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image_word_fenxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,19}</string>
                <key>spriteSourceSize</key>
                <string>{37,19}</string>
                <key>textureRect</key>
                <string>{{490,310},{37,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image_word_weixinfenxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,26}</string>
                <key>spriteSourceSize</key>
                <string>{104,26}</string>
                <key>textureRect</key>
                <string>{{286,249},{104,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image_word_xiangqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,20}</string>
                <key>spriteSourceSize</key>
                <string>{36,20}</string>
                <key>textureRect</key>
                <string>{{490,272},{36,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image_word_xiangqingtitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,44}</string>
                <key>spriteSourceSize</key>
                <string>{83,44}</string>
                <key>textureRect</key>
                <string>{{423,80},{83,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image_word_zhanjititle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,44}</string>
                <key>spriteSourceSize</key>
                <string>{81,44}</string>
                <key>textureRect</key>
                <string>{{423,126},{81,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiesuan_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,142}</string>
                <key>spriteSourceSize</key>
                <string>{245,142}</string>
                <key>textureRect</key>
                <string>{{279,2},{245,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>normal_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,106}</string>
                <key>spriteSourceSize</key>
                <string>{275,106}</string>
                <key>textureRect</key>
                <string>{{2,2},{275,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{68,62}</string>
                <key>textureRect</key>
                <string>{{420,272},{68,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{68,62}</string>
                <key>textureRect</key>
                <string>{{420,336},{68,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangqing_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,99}</string>
                <key>spriteSourceSize</key>
                <string>{68,99}</string>
                <key>textureRect</key>
                <string>{{286,277},{68,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanji_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,86}</string>
                <key>spriteSourceSize</key>
                <string>{76,86}</string>
                <key>textureRect</key>
                <string>{{423,2},{76,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanjidange_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,142}</string>
                <key>spriteSourceSize</key>
                <string>{245,142}</string>
                <key>textureRect</key>
                <string>{{2,249},{245,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanwei_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,138}</string>
                <key>spriteSourceSize</key>
                <string>{241,138}</string>
                <key>textureRect</key>
                <string>{{146,249},{241,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Images12.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83e69cf22678ea42ab8c7ac75638c8cc:dafbf8e077f7ef61a7a8f49f4aa8bde6:2e11731af6725cb9ce0112086d09c21f$</string>
            <key>textureFileName</key>
            <string>Images12.png</string>
        </dict>
    </dict>
</plist>
